NODE_ENV=development
LOG_LEVEL=info

# ---------- PORTS ----------
GATEWAY_PORT_1=4000
GATEWAY_PORT_2=4001
AUTH_PORT=5001
PROFILE_PORT=5002
DOCUMENT_PORT=5003
PAYMENT_PORT=5004
GRIEVANCE_PORT=5005
NOTIFICATION_PORT=5006
AI_PORT=5007

# ---------- INTERNAL SERVICE URLS ----------
AUTH_URL=http://localhost:5001
PROFILE_URL=http://localhost:5002
DOCUMENT_URL=http://localhost:5003
PAYMENT_URL=http://localhost:5004
GRIEVANCE_URL=http://localhost:5005
NOTIFICATION_URL=http://localhost:5006
AI_URL=http://localhost:5007
PUBLIC_URL=http://localhost:8080
FRONTEND_URL=http://localhost:5173

# ---------- MONGODB ATLAS ----------
MONGO_URI=mongodb+srv://civicadmin:1dLhzHzybYZ8PRPq@cluster0.wvizfyc.mongodb.net/?retryWrites=true&w=majority

DB_AUTH=civic_auth
DB_PROFILE=civic_profile
DB_DOCUMENT=civic_document
DB_GRIEVANCE=civic_grievance
DB_NOTIFICATION=civic_notification
DB_AI=civic_ai

# ---------- REDPANDA (KAFKA) ----------
KAFKA_BROKER=daj3g0i7294n2a8ct34g.any.ap-south-1.mpx.prd.cloud.redpanda.com:9092
KAFKA_USERNAME=civicconnect-app
KAFKA_PASSWORD=abAVnTDzuuAEsGUG2PYR3Y2NVORRrk
KAFKA_MECHANISM=scram-sha-256
KAFKA_SSL=true
KAFKA_CLIENT_ID=civicconnect

TOPIC_GRIEVANCE_CREATED=grievance.created
TOPIC_GRIEVANCE_UPDATED=grievance.updated
TOPIC_PAYMENT_COMPLETED=payment.completed
TOPIC_DOCUMENT_UPLOADED=document.uploaded
TOPIC_NOTIFICATION_SEND=notification.send
TOPIC_AUDIT_LOG=audit.log

# ---------- SUPABASE ----------
SUPABASE_URL=https://lutecxwozdczesitakib.supabase.co
SUPABASE_ANON_KEY=sb_publishable_287Bwju25u4yd3CaqsXCAg_HtkOCya0
SUPABASE_SERVICE_KEY=sb_secret_dXGU0vKdKzBJcvIWtG0o2Q_PAY2Vsxl
SUPABASE_DB_URL=postgresql://postgres.lutecxwozdczesitakib:LEqjbOBP96xr6gIB@aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres
SUPABASE_BUCKET=citizen-documents

# ---------- AI ----------
GEMINI_API_KEY=AQ.Ab8RN6L-vzBBAjLJNuagqAzdYJ-UfR4a0JqPeGXV_0blq4Baig
GROQ_API_KEY=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

GEMINI_CHAT_MODEL=gemini-2.5-flash
GEMINI_EMBED_MODEL=gemini-embedding-001
GROQ_CHAT_MODEL=llama-3.3-70b-versatile
EMBED_DIMENSIONS=768

VECTOR_INDEX_NAME=civic_vector_index
RAG_TOP_K=5
RAG_MIN_SCORE=0.65

# ---------- JWT ----------
JWT_SECRET=81c59e699d3688e23516741dcdd8f9fc3912dace794362a2eb0cd70cd4ac77fcb93a0004a1fa823888ad4f5fd011e50e
JWT_REFRESH_SECRET=628fcd9dbc02de5b1ae335baa7f4b02591fbb6605959877f246ff042f12ef4dc30daa2c5cab2bea0fa94b7dc534937dd
JWT_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d

# ---------- RATE LIMITING ----------
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=100
AI_RATE_LIMIT_MAX=15